.ulStyle {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.divProducts {
  display: flex;
  box-sizing: content-box;
}

.productStyle {
  margin-right: 40px;
}

.containerStyle {
  display: flex;
  flex-shrink: 2;
  border: 1px solid black;
}
